<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Vue baixando o framework-->
    <script src="./vue.js"></script>

    <!-- Vue usando CDN-->
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->

    <title>Document</title>
    <style>
    </style>
</head>
<body>
    
    <!-- Iteração usando uma variavel (for)-->
    <div id="app">
        
        <ul>
            <li v-for="n in 10">
                    {{ n }}
            </li>
        </ul>
        
        
        <hr>


        <ul>
            <li v-for="n in numero">
                    {{ n }}
            </li>
        </ul>
        
        <!--Primeira maneira -->
        <ul>
            <li v-for="curso in cursos"> {{curso}}</li>
        </ul>

        <hr>

        <!--Segunda maneira -->
        <ul>
            <li v-for="curso in cursos" v-text="curso"></li>
        </ul>

        <hr>

        <!--Recuperando o indice -->
        <ul>
            <li v-for="(curso, chave) in cursos"> {{chave}} - {{curso}}</li>
        </ul>

        <hr>

        <!--Recuperando o indice com v-text-->
        <ul>
            <li v-for="(curso, chave) in cursos" v-text="chave +' - '+curso" > </li>
        </ul>

        <hr>

        <!--Recuperando o indice com v-text-->

        

        <ul>
            <li v-for="(curso, chave) in cursos" v-text="chave +' - '+curso" > </li>
        </ul>
        
        <hr>

        <h1>Parte II V-for</h1>


        <!--Recuperando Objetos mais complexos -->
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(curso, chave) in cursos2">
                    <th> {{chave}}</th>
                    <th>{{curso.titulo}}</th>
                    <th>{{curso.descricao}}</th>
                </tr>
            </tbody>
        </table>
        
        <hr>

        <!--Recuperando usando o operador de desentruturação -->
        <!--Funciona a partir do ES6 -->
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="({titulo, descricao}, chave) in cursos2">
                    <th> {{chave}}</th>
                    <th>{{titulo}}</th>
                    <th>{{descricao}}</th>
                </tr>
            </tbody>
        </table>
        
        <hr>

        <ul>
            <li v-for="publicacao in publicacoes" style="border: solid 1px; margin: botton 10px;" :key="publicacao.id">
                {{ publicacao.publicacao }}
                <hr>
                <input type="text" name="" >
            </li>
        </ul>
        <button @click="misturarArray()">Misturar Publicações</button>

    </div>         


    <script>

        new Vue({
            el: '#app', 
            data: {
                numero: 5,
                cursos: ['laravel','web completo','Banco de Dados','Solid','Angular'],
                cursos2: {
                    1000: { 
                        titulo: 'laravel', 
                        descricao: 'Domine o framework PHP mais poderoso do mundo'
                    },
                    1001: {
                        titulo: 'Banco de Dados', 
                        descricao: 'Aprenda os principais banco de dados relacionais do mercado'
                    }
                },
                publicacoes: [
                    {id: 1, publicacao: 'publicacao 1'},
                    {id: 2, publicacao: 'publicacao 2'},
                    {id: 3, publicacao: 'publicacao 3'}
                ],
            },
            methods: {
                misturarArray(){
                    let misturado = []

                    misturado[0] = this.publicacoes[2]
                    misturado[1] = this.publicacoes[0]
                    misturado[2] = this.publicacoes[1]

                    this.publicacoes = misturado

                }
                
            }
        })

    </script>
</body>
</html>